<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100 bg-light">
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body text-center">
            <h2 class="card-title">Добро пожаловать!</h2>
            <p class="card-text">Ваш необходимо авторизоваться, чтобы увидеть сообщение.</p>
            <a href="/message" class="btn btn-primary">Авторизоваться</a>
        </div>
    </div>
</div>
</body>
</html>